.main-layout {
  display: flex;
}

.sidebar {
  flex: 0 0 250px;
}

.sidebar .nav-link.active {
  background-color: #495057;
  font-weight: bold;
  border-radius: 0.25rem;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  background-color: #f8f9fa;
  height: calc(100vh - 56px);
  overflow-y: auto;
}
